@import "~antd/dist/antd.dark.css";

body {
  margin: auto;
  /* width: 80%; */
  max-width: 1800px;
  /* display: flex;
  align-items: flex-start; */
  /* justify-content: center; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #2b2e4a; */
  /* Use this colour palette: https://colorhunt.co/palette/238 */
}

h1 {
  font-size: 32px;
  text-align: center;
  border-bottom: 2px white solid;
}

div.content-container {
  margin: 10px;
}

.error * {
  color: black;
}
