.para_format {
  display: flex;
}

.para_format p {
  flex: 2 1;
}

.left_para {
  margin-right: 10px;
}

.right_para {
  margin-left: 10px;
}

.about_kenna img {
  align-self: flex-start;
}

.about_kenna p {
  flex-basis: auto;
}

.overview {
  display: flex;
  justify-content: center !important;
}

.kenna_projects {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.kenna_projects > div {
  margin: 5px 10px !important;
}
