.icon_links {
  transform: scale(2.5);
}

.name_svg_header {
  float: left;
  margin: -15px 55px;
}

.name_svg_header > div {
  transform: scale(2);
}

@media only screen and (max-width: 425px) {
  .name_svg_header {
    content: url("/monark_v2_animated.svg");
    margin: -15px 10px;
  }
}

@media only screen and (max-width: 325px) {
  .name_svg_header {
    display: none;
  }
}

.resume_link {
  font-size: 1rem;
}

.personal_links a {
  color: white;
}

.personal_links span {
  margin-right: 20px;
}

.layout_sider {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo {
  height: 29px;
  margin: 16px;
  margin-left: 25px;
  content: url("/site_tech/antd_logo.svg");
}
