.icon_links {
  transform: scale(2.5);
}

.resume_link {
  font-size: 1rem;
}

.personal_links a {
  color: white;
}

.personal_links span {
  margin-right: 20px;
}

.layout_sider {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo {
  height: 29px;
  margin: 16px;
  margin-left: 25px;
  content: url("/site_tech/antd_logo.svg");
}
