.resume_container {
  display: grid;
  gap: 15px;
}

.resume_container > object {
  margin: auto;
  display: block;
  width: -webkit-fill-available;
}

.resume_container > a {
  max-width: 280px;
  justify-self: center;
}
